asn1crypto==0.24.0
bintrees==2.0.7
bittrex-websocket==0.0.7.0
certifi==2018.1.18
cffi==1.11.5
cfscrape==1.9.4
chardet==3.0.4
click==6.7
cryptography==2.1.4
cycler==0.10.0
Events==0.3
gevent==1.3a1
greenlet==0.4.13
idna==2.6
matplotlib==2.1.2
numpy==1.22.0
pandas==0.22.0
pycparser==2.18
PyExecJS==1.5.1
Pykka==1.2.1
PyMySQL==0.8.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
pyzmq==17.0.0
requests==2.18.4
signalr-client==0.0.7
six==1.11.0
sseclient==0.0.18
urllib3==1.22
websocket-client==0.47.0
wsaccel==0.6.2
zmq==0.0.0
